@media only screen and (min-width:280px) and (max-width:420px){
    .nav_items>div{
        display: none;
    }
    .nav_items>span{
        display: none;
    }
    .nav_items>button{
        font-size:16px;
        padding: 12px;
    }
    /*==================Section_One=========================*/
    .section_one{
        display:block;
    }
    .section_one>img{
        display: none;
        width:300px;
    }
    .section_one_grp{
        width: 100%;
        flex-direction: column;
    }
    .hero_one{
        width: 100%;
        padding:2rem 1rem;
        flex-direction: column;
    }
    .hero_text{
        width: 100%;
    }
    .hero_text>p{
        margin-top:0px;
    }
    .hero_text>h1>span{
        color: var(--blue);
    }
    .hero_text>button{
        font-size:1,5rem;
        padding:10px 10px;
        border: none;
        outline: none;
        border-radius: 40px;
        background-color: var(--blue);
        color: var(--white);
        box-shadow:2px 2px var(--navtextcolor);
        margin:15px;
    }
    .hero_bar{
        margin-top: 10px;
    }
    .section_one_grp>img{
        display: none;
    }
    .section_one_grp>img:nth-child(1){
        width:30px;
        position: absolute;
        top:50%;
        left:0%;
    }
    .section_one_grp>img:nth-child(2){
        width: 30px;
        position: absolute;
        top:25%;
        left:30%;
    }
    .section_one_grp>img:nth-child(3){
        width:30px;
        position: absolute;
        top:25%;
        left:15%;
    }
    .section_one_grp>img:nth-child(4){
        width:30px;
        position: absolute;
        top:30%;
        left:60%;
    }
    .hero_two{
        width: 100%;
        display:block;
        /* background-color: yellowgreen; */
    }
    .hero_two_imgs>img{
        width:300px;
    }
    /*=======================================Section________2==================================*/
    .section_two_cover{
        /* background-color: red; */
        padding: 10px;
    }
    .section_two>h1{
        padding:20px 0px;
        font-size:24px;
    }
    .sec_two_bar{
        /* background-color: orange; */
        width:100%;
        margin-top:1rem;
        padding:0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .sec_two_bar_txt{
        width: 100%;
    }
    .sec_two_bar_txt>h1{
        font-size: 18px;
    }
    .sec_two_bar_txt>h5{
        font-size: 12px;
        color: var(--navtextcolor);
    }
    .sec_two_bar>button{
        margin:15px ;
        padding:10px;
        border: none;
        outline: none;
        font-size: 12px;
        border-radius:25px;
        color: var(--white);
        background-color: var(--blue);
    }
    .section_two_slider::-webkit-scrollbar{
        display: block;
        width: 14px;
        background-color:var(--blue);
        border-radius: 10px;
    }
    .section_two_slider::-webkit-scrollbar-thumb{
        background-color: var(--white);
        border-radius: 5px;
    }
    #forwardSlide{
        display: none;
    }
    #backwardSlide{
        display: none;
    }
    /*=======================================Section________3==================================*/
    .section_three_cover{
        flex-direction: column;
    }
    .sec_three_text{
        width: 100%;
        padding: 20px 20px;
    }
    .sec_three_img{
        width: 100%;
        height:250px;
    }
    .sec_three_img>img:nth-child(1){
        width: 120px;
        position: absolute;
        top:10%;
        left:10%;
        z-index: 20;
    }
    .sec_three_img>img:nth-child(2){
        display: none;
        width: 120px;
        position: absolute;
        top:15%;
        left:50%;
        z-index: 20;
    }
    .sec_three_img>img:nth-child(3){
        width: 120px;
        position: absolute;
        top:15%;
        left:40%;
    }
    .sec_three_img>img:nth-child(4){
        display: none;
        width: 120px;
        position: absolute;
        top:10%;
        left:45%;
    }
    /*=======================================Section________4==================================*/
    .section_four{
        gap: 0.3rem;
        padding: 20px 0px;
    }
    .section_four>img:nth-child(1){
        display: none;
    }
    .section_four>img:nth-child(2){
        display: none;
    }
    .section_four>img:nth-child(3){
        display: none;
    }
    .section_four>img:nth-child(4){
        display: none;
    }
    .section_four>img:nth-child(5){
        display: none;
    }
    .section_four>img:nth-child(6){
        display: none;
    }
    .section_four>img:nth-child(6){
        display: none;
    }
    .section_four>img:nth-child(7){
        display: none;
    }
    .section_four>img:nth-child(8){
        display: none;
    }
    .section_four>img:nth-child(9){
        display: none;
    }
    .section_four>h1{
        font-size:0.9rem;
    }
    /*=======================================Section________5==================================*/
    .section_five_grid{
        width:80%;
        display:grid;
        gap:2rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    /*=======================================Section________6==================================*/
    .section_six_cover>img:nth-child(1){
        display: none;
        width:50px;
        position: absolute;
        top:60%;
        left:5%;
    }
    .section_six_cover>img:nth-child(2){
        display: none;
        position: absolute;
        top:4%;
        left:95%;
    }
    .section_six_cover>img:nth-child(3){
        display: none;
        width:50px;
        position: absolute;
        top:10%;
        left:8%;
    }
    .section_six_cover>img:nth-child(4){
        display: none;
        width:100px;
        position: absolute;
        top:-10%;
        left:30%;
    }
    .section_six{
        flex-direction: column;
    }
    .sec_six_text{
        width:100%;
        padding:1rem 0rem;
        color: var(--white);
    }
    .sec_six_text>h1{
        font-size:2rem;
        color: var(--white);
        margin-bottom:0.5rem;
    }
    .sec_six_img{
        width: 50%;
        height:300px;
        position: relative;
    }
    .sec_six_img>img:nth-child(1){
        width: 150px;
        position: absolute;
        top:15%;
        left:80%;
        z-index: 20;
    }
    .sec_six_img>img:nth-child(2){
        width:90px;
        position: absolute;
        top:15%;
        left:35%;
    }
    .sec_six_img>img:nth-child(3){
        width:200px;
        position: absolute;
        top:10%;
        left:-10%;
        z-index: 25;
    }
    /*=======================================Section________7==================================*/
    .sec_seven_grid{
        width:100%;
        gap: 2rem;
        grid-template-columns: 1fr;
    }
    /*=======================================Section________8==================================*/
    .section_eight>h1{
        font-size:30px;
        margin-bottom:1rem;
        color: var(--white);
    }
    .sec_eight_grid{
        grid-template-columns: 1fr;
    }
    /*=======================================Section________9==================================*/
    .section_nine_cover{
        margin: 1rem 0rem;
    }
    /*======================================Footer==================================*/
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .last{
        width:100%;
        padding:15px;
        display: flex;
        gap: 5px;
        color: var(--navtextcolor);
    }
    .rights{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--navtextcolor);
    }
    
      }
