*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#ffffff;
    --blue:#0391D3;
    --section1color:#F8F8F8;
    --navtextcolor:#656565;
    --red:#F3393A;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-color:var(--white);
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav_items{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem;
}
.nav_items>div{
    display: flex;
}
.nav_items>div>div{
    color:var(--navtextcolor);
}
.nav_items>button{
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    border-radius:20px;
    outline: none;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}
.section_one{
    width: 100%;
    background-color: var(--section1color);
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.section_one>img{
    position: absolute;
    width:650px;
}
.section_one_grp{
    width: 90%;
    display: flex;
    position: relative;
}
.section_one_grp>img:nth-child(1){
    width:50px;
    position: absolute;
    top:50%;
    left:0%;
}
.section_one_grp>img:nth-child(2){
    position: absolute;
    top:25%;
    left:30%;
}
.section_one_grp>img:nth-child(3){
    width:50px;
    position: absolute;
    top:5%;
    left:15%;
}
.section_one_grp>img:nth-child(4){
    width:70px;
    position: absolute;
    top:30%;
    left:40%;
}
.hero_one{
    width:40%;
    padding:3.5rem 0rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
.hero_text{
    width: 70%;
}
.hero_text>p{
    margin-top: 10px;
}
.hero_text>h1>span{
    color: var(--blue);
}
.hero_text>button{
    font-size: 1.5rem;
    padding:15px 10px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: var(--blue);
    color: var(--white);
    box-shadow:2px 2px var(--navtextcolor);
    margin: 30px;
    cursor: pointer;
}
.hero_bar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top:40px;
}
.hero_bar>h1{
    color: var(--blue);
    font-size:3rem;
}
.hero_bar>span{
    color: var(--navtextcolor);
}
.hero_two{
    width:60%;
    /* background-color:black; */
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
/*=======================================Section________2==================================*/
.section_two_cover{
    width: 100%;
    background-color: var(--white);
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}
.cover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover>span>img{
    cursor: pointer;
}
.section_two{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section_two>img:nth-child(1){
    width:50px;
    position: absolute;
    top:60%;
    left:95%;
}
.section_two>img:nth-child(2){
    position: absolute;
    top:60%;
    left:0%;
}
.section_two>img:nth-child(3){
    width:50px;
    position: absolute;
    top:20%;
    left:90%;
}
.section_two>img:nth-child(4){
    position: absolute;
    top: 0%;
    left:-10%;
}
.section_two>h1{
    padding:20px 0px;
    font-size: 36px;
}
.section_two_slider{
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    gap:0.5rem;
    overflow:auto;
}
.sliderItem{
    /* width:100%; */
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--section1color);
}
/* .section_two_slider>div{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* transition: transform 0.5s ease-in-out; */
    /* background-color: var(--section1color); */
    /* background-color: blue; */
/* } */
.sec_two_bar{
    width: 80%;
    margin-top:3rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.sec_two_bar_txt>h5{
    color: var(--navtextcolor);
}
.sec_two_bar>button{
    padding: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 30px;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}
/*=======================================Section________3==================================*/
.section_three{
    width: 100%;
    padding:60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section_three>img:nth-child(1){
    display: none;
    width:50px;
    position: absolute;
    top:60%;
    left:5%;
}
.section_three>img:nth-child(2){
    display: none;
    position: absolute;
    top:60%;
    left:90%;
}
.section_three>img:nth-child(3){
    display: none;
    width:50px;
    position: absolute;
    top:20%;
    left:8%;
}
.section_three>img:nth-child(4){
    display: none;
    position: absolute;
    top: 0%;
    left:80%;
}
.section_three_cover{
    width: 80%;
    /* background-image: url(/Assets/Rectangle\ 15.png);
    background-position: center;
    background-size: contain; */
    background-color: var(--blue);
    display: flex;
}
.sec_three_text{
    width: 40%;
    padding: 50px 40px;
    color: var(--white);
}
.sec_three_text>p{
    color: var(--section1color);
    margin-top: 10px;
}
.sec_three_text>button{
    font-size: 14px;
    border: none;
    outline:none;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 40px;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}
.sec_three_img{
    width: 60%;
    position: relative;
}
.sec_three_img>img:nth-child(1){
    width: 200px;
    position: absolute;
    top:3%;
    left: 30%;
    z-index: 20;
}
.sec_three_img>img:nth-child(2){
    width: 200px;
    position: absolute;
    top:15%;
    left:50%;
    z-index: 20;
}
.sec_three_img>img:nth-child(3){
    width: 200px;
    position: absolute;
    top:7%;
    left:70%;
}
.sec_three_img>img:nth-child(4){
    width: 150px;
    position: absolute;
    top:0%;
    left:50%;
}
/*=======================================Section________4==================================*/
.section_four{
    width: 100%;
    /* background-image: url(/Assets/Rectangle\ 15.png);
    background-position: center;
    background-size: contain; */
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    position: relative;
}
.section_four>img:nth-child(1){
    width:50px;
    position: absolute;
    top:60%;
    left:5%;
}
.section_four>img:nth-child(2){
    position: absolute;
    top:4%;
    left:95%;
}
.section_four>img:nth-child(3){
    width:50px;
    position: absolute;
    top:10%;
    left:8%;
}
.section_four>img:nth-child(4){
    width:100px;
    position: absolute;
    top:-10%;
    left:30%;
}
.section_four>img:nth-child(5){
    position: absolute;
    top:10%;
    left:80%;
}
.section_four>img:nth-child(6){
    width:95px;
    position: absolute;
    top:90%;
    left:70%;
}
.section_four>img:nth-child(7){
    width: 80px;
    position: absolute;
    top:50%;
    left:90%;
}
.section_four>img:nth-child(8){
    width: 80px;
    position: absolute;
    top:40%;
    left:5%;
}
.section_four>img:nth-child(9){
    width:130px;
    position: absolute;
    top:40%;
    left:2%;
}
.section_four>h1{
    /* margin-top: 2rem; */
    font-size: 2rem;
    color: var(--white);
}
.section_four>h1>span{
    color: var(--red);
}
.services_grid{
    width: 80%;
}
.services_grid>img{
    margin-left:15px;
    margin-top: 15px;
}
/*=======================================Section________5==================================*/
.section_five{
    width: 100%;
    /* height: 500px; */
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3rem 0rem;
}
.section_five>h1{
    font-size: 2rem;
    padding-bottom:3rem;
}
.section_five_grid{
    width:70%;
    display:grid;
    gap:2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.steps{
    border: 2px solid var(--blue);
    width:250px;
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    position: relative;
}
.step_num{
    position: absolute;
    top:-15%;
    left:-3%;
    width:80px;
    /* height:60px; */
    background-color:var(--blue);
    color: var(--white);
    padding:20px 10px;
    font-size:25px;
}
.steps>div>p{
    line-height:20px;
}
/*=======================================Section________6==================================*/
.section_six_cover{
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section_six_cover>img:nth-child(1){
    width:50px;
    position: absolute;
    top:60%;
    left:5%;
}
.section_six_cover>img:nth-child(2){
    position: absolute;
    top:4%;
    left:95%;
}
.section_six_cover>img:nth-child(3){
    width:50px;
    position: absolute;
    top:10%;
    left:8%;
}
.section_six_cover>img:nth-child(4){
    width:100px;
    position: absolute;
    top:-10%;
    left:30%;
}
.section_six{
    width: 80%;
    display: flex;
}
.sec_six_text{
    width: 50%;
    padding:3rem 1rem;
    color: var(--white);
}
.sec_six_text>h1{
    font-size: 3rem;
    color: var(--white);
    margin-bottom:0.5rem;
}
.sec_six_text>button{
    border: none;
    outline: none;
    background-color:var(--red);
    font-size: 1.2rem;
    padding:1rem;
    margin-top: 1rem;
    border-radius: 30px;
    color: var(--white);
    cursor: pointer;
}
.sec_six_img{
    width: 50%;
    position: relative;
}
.sec_six_img>img:nth-child(1){
    position: absolute;
    top:-5%;
    left:60%;
    z-index: 20;
}
.sec_six_img>img:nth-child(2){
    width: 170px;
    position: absolute;
    top:15%;
    left:35%;
}
.sec_six_img>img:nth-child(3){
    width:300px;
    position: absolute;
    top:-10%;
    left:5%;
}
/*=======================================Section________7==================================*/
.section_seven_cover{
    width: 100%;
    padding:4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec_seven{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec_seven>h1{
    font-size: 2.5rem;
    margin-bottom:3rem;
}
.sec_seven_grid{
    width: 80%;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.review{
    width:250px;
    color: var(--white);
    border:1px solid blue;
    padding:40px 20px 20px 20px;
    position: relative;
}
.review>img{
    width:60px;
    position: absolute;
    top: -15%;
    left:35%;
}
.review>h2{
    color:black;
    margin-bottom: 10px;
    font-size: 18px;
}
.review>p{
    font-size: 15px;
    line-height:14px;
    color: var(--navtextcolor);
}
/*=======================================Section________8==================================*/
.section_eight_cover{
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section_eight_cover>img:nth-child(1){
    width:50px;
    position: absolute;
    top:60%;
    left:5%;
}
.section_eight_cover>img:nth-child(2){
    position: absolute;
    top:4%;
    left:95%;
}
.section_eight_cover>img:nth-child(3){
    width:50px;
    position: absolute;
    top:10%;
    left:8%;
}
.section_eight_cover>img:nth-child(4){
    width:100px;
    position: absolute;
    top:-10%;
    left:30%;
}
.section_eight{
    width: 80%;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_eight>h1{
    font-size:36px;
    margin-bottom:2rem;
    color: var(--white);
}
.sec_eight_grid{
    width:100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.questions>div{
    background-color: white;
    padding:5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}
#ansOne{
    display:none;
}
#ansTwo{
    display: none;
}
#ansThree{
    display: none;
}
#ansFour{
    display:none;
}
.questions>div>h1{
    font-size: 15px;
}
/*=======================================Section________9==================================*/
.section_nine_cover{
    width: 100%;
    margin:3rem 0rem;
    position: relative;
}
.section_nine_cover>iframe{
    width: 100%;
    height: 400px;
}
.sec_nine_contacts{
    position: absolute;
    top:15%;
    left:30%;
    z-index: 20;
    width: 200px;
    height: 250px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.sec_nine_contacts>h1{
    margin-bottom: 10px;
    font-size: 30px;
}
.sec_nine_contacts>div{
    margin-top: 25px;
    display: flex;
    gap:15px;
}
.contacts_det>h3{
    font-size: 12px;
}
.contact_btn{
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius:20px;
    outline: none;
    background-color: var(--blue);
    color: var(--white);
}
/*=====================================Footer==================================*/
.footer_cover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 80%;
    display: flex;
}
.last{
    width: 50%;
    padding:15px;
    display: flex;
    gap: 5px;
    color: var(--navtextcolor);
}
.rights{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--navtextcolor);
  }
